SECRET_KEY=your-secret-key
DATABASE_URI=sqlite:///cp_event.db
JWT_SECRET_KEY=your-jwt-secret-key
TOKEN_EXPIRATION_MINUTES=30
REFRESH_TOKEN_EXPIRATION_DAYS=7
SQLALCHEMY_TRACK_MODIFICATIONS=False
TEMPLATES_AUTO_RELOAD=True
PERMANENT_SESSION_LIFETIME=1800
